<h1>{{ title }}</h1>
<div appRoundedBlock [ngClass]="numero > 10 ? 'error' : 'success'">{{ numero }}</div>
<br>
<div [ngClass]="{
  'success': numero === 5,
  'error': numero === 8
}">{{ numero }}</div>

<hr>

<h2 appDraggable appRoundedBlock>ngStyle</h2>

<div appDraggable [ngStyle]="{ 'font-size': myFontSize }">
  Lorem ipsum dolor sit
</div>

<hr>

<h2>Directiva personalizada</h2>

<div class="success" appDraggable appRoundedBlock>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam error, vel optio corporis veniam ipsum nemo ipsam magni. Ab, commodi. Laboriosam rem id fugit eius quae odit distinctio! Amet, dicta!
</div>
